extends partials/templates/template.pug
//- include partials/abstracts/bemto/bemto.pug

block content
  +b.SECTION.page--form-call

    // Left sidebar
    include partials/components/left-sidebar.pug 
         
    // Content
    +b.SECTION.content
      +b.SECTION.breadcrumbs
        a(href="index.html") Центр сертификации Ростест Сибирь
        =' > '
        span Заказать звонок 
        
      +e.H1.title Заказать звонок
      p Даже в ситуациях (таможня, проверка и мн. др.), когда немедленно требуется дополнительная информация для решения возникших вопросов, Вы можете заказать нашим специалистам ответный звонок в нужное Вам время и полностью рассчитывать на своевременную и актуальную информационно-правовую поддержку центра сертификации «Ростест Сибирь». 
      include partials/components/form--call.pug

    // Right sidebar
    include partials/components/right-sidebar.pug

