extends partials/templates/template.pug
//- include partials/abstracts/bemto/bemto.pug

block content
  +b.SECTION.page

    // Left sidebar
    include partials/components/left-sidebar.pug 

    // Content
    +b.SECTION.content
      +b.SECTION.breadcrumbs
        a(href="index.html") Центр сертификации Ростест Сибирь
        =' > '
        a(href="page.html") Сертификация в деталях
        =' > '
        span Сертификаты на нефтепродукты
        
      +e.H1.title Сертификаты на нефтепродукты
      p Нефтепродуктами называются изделия, получаемые в процессе переработки нефти. К ним относят различные виды топлива, масел нефтяных, битумов, твёрдых углеводородов, кокса, растворителей, а также парафин, дёготь и т.д.
      p Сертификация нефтепродуктов, согласно законодательству Российской Федерации, может быть как обязательной, так и добровольной, в зависимости от вида продукции.
      p Согласно утверждённому Постановлением Правительства за номером 982 от 1 декабря 2009 года перечню продукции, 
        strong сертификаты на нефтепродукты 
        | в обязательном порядке необходимо оформлять для следующих продуктов:
      ul
        li Авиационных масел ГОСТ за номером 1012-72,
        li Нефтяного топлива  и мазута ГОСТ за номером 10585-99,
        li Твёрдых нефтяных парафинов ГОСТ за номером 23683-86 (исключение составляют марки С, Т1, Т2, Т3),
        li Моторных масел для дизельных двигателей ГОСТ за номером 12337-84,
        li Автомобильных бензинов ГОСТ за номером 2084-77,
        li Топлива для реактивных двигателей ГОСТ за номером 10227-86,
        li Авиационных бензинов ГОСТ за номером 21743-76 и т.д.
      p Данный документ может быть получен только после прохождения данной продукцией процедуры сертификации.
      p Необходимо учесть, что согласно Постановлению за номером 906 от 13.11.2010 года, к сертификации некоторых видов нефтепродуктов были изменены требования. На некоторые виды продукции необходимо оформлять декларацию соответствия. Например, на:
      ul
        li Нефтяные смазочные масла (турбинные, компрессорные, моторные и т.д.),
        li Медицинское вазелиновое масло,
        li Масло моторное для дизельных транспортных машин быстроходных,
        li Масло АМГ-10,
        li Масло МТ – 16п,
        li Трансмиссионное масло,
        li Компрессорное масло,
        li Компрессорное из нефтей сернистых КС-19,
        li Рабочую жидкость 7-50С-3, и т.д.
      p Подтверждение качества таких нефтепродуктов как битум, кокс, различные растворители проводится в добровольном порядке. Для этих видов продукции рекомендуется оформление добровольных сертификатов на нефтепродукты.
      p Сертификацию нефтепродуктов можно заказать в сертификационном центре, имеющем Аттестат государственной аккредитации. Например, в органе сертификации в Новосибирске.
      h2 Где и как оформить сертификаты на нефтепродукты?
      p Сертификация данной продукции проводится в системе сертификации ГОСТ Р в соответствии с утверждёнными «Правилами проведения сертификации нефтепродуктов», в которых учитываются особенность производства и поставок нефтепродуктов, требования международных соглашений, действующих на мировом рынке.
      p Для проведения сертификации в сертификационный центр нужно подать заявление и пакет документов, перечень которых согласовывается со специалистами центра. В специализированной лаборатории проводятся исследования ранее отобранных для этой цели образцов продукции и в случае их полного соответствия установленным стандартам, выдаётся документ, подтверждающий качество продукции.
      p Для получения подробной консультации, оформления сертификата соответствия на нефтепродукт и других подтверждающих документов, Вы можете обратиться в сертификационный центр в Новосибирске.
      include partials/components/share.pug
      
    // Right sidebar
    include partials/components/right-sidebar.pug

