.btn{
  display: inline-block;
  border: 2ps solid $bg-white;
  padding: 5px;
  background-color: $btn-bg;
  font-size: $font-size-btn;
  color: $text-color-white;
  text-transform: uppercase;
  font-weight: 700;   
  padding: 10px 60px 10px 20px;
  margin: 0;
  position: relative;
  @include transition();

  &:hover, &:focus, &:active{  
    color: $text-color-white;  
    background-color: $btn-bg-hover;
  } 

  &__icon{
    position: absolute;
    right: -2px;
    top: -2px;
    background-color: $light-orange;
    border: 2px solid $bg-white;
    box-sizing: content-box;
    display: inline-block;
    height: 100%;
    width: 40px;

    &:after{
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "";      
    }
  }

  &--question{
    .btn__icon:after{
      @include sprite($s-question);   
    }
  }
  &--call{
    .btn__icon:after{
      @include sprite($s-call);   
    }
  }
  &--application{
    .btn__icon:after{
      @include sprite($s-doc);   
    }
  }
  &--form{
    margin-bottom: 30px;    
    background-color: $light-orange;
    border: none;
    padding: 10px 20px; 
    &:hover, &:focus, &:active{
      background-color: $dark-orange;
    }       
  }

  &--subscribe, &--unsubscribe{
    padding: 5px 10px;
    border: 1px solid $light-orange;
    font-weight: $regular;
    margin: 0 5px 20px;
    text-transform: capitalize;
    color: $text-color;
    &:hover, &:focus{
      background-color: $white;
      color: $light-orange;
    }
  }

  &--subscribe{
    background-color: $light-orange;
  }
  &--unsubscribe{
    background-color: $pale-orange;
  }
}


.link-all{
  display: inline-block;
  text-align: center;
  margin: 20px 15px 30px;
}