.content{
  // flex: 0 1 calc(100% - 560px);
  text-align: left;
  margin-left: 25px;
  margin-right: 25px;
  &__title{
    margin: 10px 0 30px;
    font-size: $font-size-title;
    @include mq($from:xs, $until:lg){
      font-size: $font-size-subtitle;
    }
  }
}
