.header{
  text-align: center;
  background-image: $orange-gradient;
  background-repeat: repeat-y; 
  background-position: 50% 0;

  &__pre{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 0 40px;
    @include mq($from:xs, $until:lg){
      margin: 0 20px;
    } 
  }
  &__block{
    flex: 0 1 33.33%;
    text-align: right;
    @include mq($from:xs, $until:lg){
      flex: 0 1 100%;
      text-align: center;
    }
  }

  &__wrapper{
    background-image: $transparent-gradient;
    background-repeat: repeat-y; 
    background-position: 50% 0;    
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    @include mq($from:xs, $until:lg){
      flex-wrap: wrap;
      margin: 0 20px;
    } 
  }
  &__logo{
    margin: -5px 0;
    min-width: 320px;
    @include mq($from:xs, $until:lg){
      width: 100%;
      min-width: inherit;
    }
  }   
  &__gallery{  
    @include mq($from:xs, $until:lg){
      margin: 20px 0;
      width: 100%;
    }      
  }
  &__btn{
    text-align: right;
    min-width: 320px;
    @include mq($from:xs, $until:lg){
      text-align: center;
      width: 100%;
      min-width: inherit;
      margin-bottom: 20px;
    } 
  }
}


.search{
  margin: 10px;
  display: inline-block;
  &__label{
    position: relative;    
   &:before{
    content: "";
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    @include sprite($s-loupe); 
   }
  }
  &__input{
    width: 280px;
    font-family: $font-family--serif;
    font-size: $font-size-small;
    font-style: italic;
    padding: 8px 10px;
    border: 1px solid $light-orange;
    // border-radius: 5px;
    &::-webkit-input-placeholder{
      color: $text-color;         
    }       
    &::placeholder{
      color: $text-color;         
    }  
    &:hover, &:focus{
      outline: none;
    }
    &:focus::-webkit-input-placeholder{
      color: transparent;         
    }       
    &:focus::placeholder{
      color: transparent;         
    }
    @include mq($from:xs, $until:xl){
      width: 200px;
    }    
  }
}

.logo{
  display: inline-block;
  @include mq($from:xs, $until:lg){
    margin-top: 20px;
  } 
}

.languages{
  display: inline-block;
  margin: 10px;
  &__link{
    color: $text-color;
    display: inline-block;
    vertical-align: bottom;
    &:hover, &:focus{
      color: $text-color; 
      text-decoration: underline;     
    }
    &--active{
      color: $white; 
      text-decoration: underline;
      &:hover, &:focus{
        color: $text-color; 
      }           
    }
  }
}

.city-choise{
  max-width: 300px;
  margin: 10px auto;
  text-align: left;
  position: relative;
  &__name{
    font-size: $font-size-small;
    background-color: $body-bg;
    border: 1px solid $light-orange;
    // border-radius: 5px;
    padding: 7px 10px;
    min-width: 200px;
  }
  &__icon{
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    top: 50%;
    transform: translate(-100%, -50%) rotate(180deg);
    @include sprite($s-chevron-up); 
    &--open{
      transform: translate(-100%, -50%);
    }
  }
  &__dropdown{
    display: none;
    width: 100%;
    font-size: $font-size-small;
    position: absolute;
    z-index: 3;
    bottom: -5px;
    right: 0;
    padding-left: 0;
    margin: 0;
    transform: translateY(100%);    
    list-style-type: none;
    border: 1px solid $light-orange;
    // border-top: 1px solid $body-bg;
    background-color: $body-bg;
  }
  &__item{
    cursor: pointer;
    padding: 5px 15px;
    @include transition();
    &:hover, &:focus{
      background-color: $dark-orange;
      color: $white;
    }
  }
}

.city{
  &__name{
    display: inline-block;
    @include mq($from:xs, $until:xl){
      display: block;
    }     
  }
  &__tel-wrapper{
    display: inline-block;
    @include mq($from:xs, $until:xl){
      display: block;
    } 
  }
  &__tel{
    margin: 0 10px;
  }
  &__email-wrapper{
    display: inline-block;
    @include mq($from:xs, $until:xl){
      display: block;
    } 
  }
}

