.recommendations{
  background-color: $pale-orange;
  margin: 20px 0;
  padding-bottom: 20px;
  font-size: $font-size-reduced;
  &__title{
    margin: 0;
    padding: 20px;
    // font-weight: $regular;
    &:before{
      content: none;
    }
  }
  &__list{
    margin: 0;
  }
  &__item{
    margin-bottom: 10px;
  }
  &__link{
    font-weight: $semibold;
  }
}

