include ../abstracts/bemto/bemto.pug

+b.SECTION.about-us
  +e.item
    +e.INPUT.input(id="about-us__01", type="checkbox", checked)
    +e.LABEL.label(for="about-us__01")
      +e.H3.title Что мы оформляем? 
    +e.text Это достаточно непростой процесс, который становится гарантом подтверждения высокого качества и стопроцентной безопасности для человека используемых им сертифицируемых товаров.
  +e.item
    +e.INPUT.input(id="about-us__02", type="checkbox")
    +e.LABEL.label(for="about-us__02")
      +e.H3.title Как пройти сертификацию?  
    +e.text Это достаточно непростой процесс, который становится гарантом подтверждения высокого качества и стопроцентной безопасности для человека используемых им сертифицируемых товаров.   
  +e.item
    +e.INPUT.input(id="about-us__03", type="checkbox")
    +e.LABEL.label(for="about-us__03")
      +e.H3.title Виды сертификатов  
    +e.text Это достаточно непростой процесс, который становится гарантом подтверждения высокого качества и стопроцентной безопасности для человека используемых им сертифицируемых товаров.
  +e.item
    +e.INPUT.input(id="about-us__04", type="checkbox")
    +e.LABEL.label(for="about-us__04")
    +e.H3.title Схемы сертификации     
    +e.text Это достаточно непростой процесс, который становится гарантом подтверждения высокого качества и стопроцентной безопасности для человека используемых им сертифицируемых товаров. 
  +e.item
    +e.INPUT.input(id="about-us__05", type="checkbox")
    +e.LABEL.label(for="about-us__05")
    +e.H3.title Процедура сертификации  
    +e.text Это достаточно непростой процесс, который становится гарантом подтверждения высокого качества и стопроцентной безопасности для человека используемых им сертифицируемых товаров.
  +e.item
    +e.INPUT.input(id="about-us__06", type="checkbox")
    +e.LABEL.label(for="about-us__06")
    +e.H3.title Что написано в сертификате?     
    +e.text Это достаточно непростой процесс, который становится гарантом подтверждения высокого качества и стопроцентной безопасности для человека используемых им сертифицируемых товаров. 


                


