include ../abstracts/bemto/bemto.pug

+b.SECTION.bottom-buttons
  +e.btn 
    +b.A.btn--question(href="page-form-question.html") Задать вопрос
      +e.icon
  +e.btn 
    +b.A.btn--application(href="page-form-application.html") Заказать документ
      +e.icon

                


