include ../abstracts/bemto/bemto.pug

// Content
+b.SECTION.content
  +e.H1.title «Ростест Сибирь» - лучшее решение для сертификации Ваших товаров и услуг!
  h2 Где пройти сертификацию?
  p(style="text-align: justify;") Сертификационный центр «РостестСибирь» - один из крупнейших офисов по сертификации в Сибири и на Дальнем Востоке. Мы работаем в области сертификации более 10 лет – и наши эксперты оказывают информационные и практические услуги по получению разрешительной документации на высоком профессиональном уровне. Мы знаем все о сертификации продукции и услуг, как сделанной в России, так и за рубежом.
  p(style="text-align: justify;") «РостестСибирь» является центром по сертификации, в своей структуре имеет 14 представительств по России и из них два акредитованных Органа по Сертификации. Мы осознаем высокую ответственность, которая ложится на нашу компанию. И поэтому мы пристально следим за новшествами в законодательстве. Нам доверяют десятки организаций не только в Сибири, но и во всей России.
  p(style="text-align: justify;") Понимая, как важна для вас сертификация, мы наряду с профессиональным подходом предлагаем систему скидок, которая делает наше сотрудничество еще более приятным для Вас!
  p(style="text-align: justify;") На сайте «Ростест Сибирь» мы размещаем самую актуальную информацию о современной сертификации. Здесь Вы также сможете найти ответ на любой вопрос о сертификации. Консультации специалистов предоставляются нашим центром совершенно бесплатно.
  h2 Что мы оформляем?
  p(style="text-align: justify;")
    img(src="http://rostestsibir.ru/wp-content/uploads/2011/08/Rst_Sibir_Main_Ru-145x300.png", style="float:left; padding-right:15px", alt="Сертификат соответствия на Россию", title="Сертификат соответствия на Россию", width="145", height="300") 
    | Главный документ, который Вы получаете - сертификат соответствия. В Российской Федерации 
    strong сертификат соответствия 
    | является наиболее распространенным и популярным документом, подтверждающим соответствие характеристик и свойств продукта (услуги) утвержденным законодательством стандартам, требованиям и нормам. Данный вид подтверждающего документа является официальным. Он может быть как обязательным к оформлению, так и добровольным, в зависимости от вида (типа) сертифицируемого продукта.
  p(style="text-align: justify;")
    strong Сертификат соответствия Россия 
    | в Новосибирске, и на всей территории нашей страны оформляется на определенные виды продукции, для которых государством предусмотрено обязательное подтверждение соответствия всем ранее утвержденным требованиям, стандартам и нормам. Указанные выше виды продукции прописаны в официальном национальном Перечне продукции, подлежащей обязательному официальному подтверждению полного соответствия товаров либо услуг, утвержденным ранее стандартам и требованиям в национальной системе стандартизации (сертификации). Оформление сертификата на соответствие является своего рода официальным подтверждением высокого качества и максимального уровня безопасности продукции, а также стабильности и надежности организации-производителя. Кроме того, наличие данного вида документа позволяет обеспечить должную поддержку требований к транспортировке, а также хранению, продажам и утилизации продукции, также обеспечивается точное осуществление всех процедур, сопутствующих изготовлению и дальнейшим движениям продукции по территории нашего государства. 
  p(style="text-align: justify;") Сертификаты на какой-либо продукт или услуги оформляется организацией, которая, в обязательном порядке имеет государственную аккредитацию. Это компания, либо физическое лицо, официально зарегистрированное на территории России, в частности в Новосибирске, а также имеющее официальное свидетельство, подтверждающее факт постановки на налоговый учет. Такая организация имеет название сертификационный центр.
  p(style="text-align: justify;") В сертификационных центрах, специалистами, имеющими соответствующую квалификацию, и владеющими определенными навыками, проводятся все необходимые исследования и испытания сертифицируемого продукта на предмет его полного соответствия всем утвержденным ранее стандартам, требованиям и нормам, подготавливаются и оформляются все необходимые документы, в том числе данный документ.
  h2 Как пройти сертификацию?
  p(style="text-align: justify;") Обычно получение необходимого в этом случае сертификата – довольно сложная процедура. Однако это справедливо только для тех случаев, когда организация-производитель или реализатор товаров самостоятельно проводит подготовку всего пакета необходимых документов, или же сама занимается подготовкой всех требующихся разрешений для оформления сертификата или же декларации. Как ускорить и упросить этот процесс? Ответ прост – позвоните или напишите в наш сертификационный центр «Ростест Сибирь». Предоставляя весь процесс сертификации специализированному центру, вы даете нам только нужные для получения документы и информацию. Все, что Вам остается - только получить в нужный срок уже готовый сертификат.
  h2 Виды сертификатов
  p(style="text-align: justify;") В нашем государстве, как правило, в зависимости от вида (типа) продукции, величины партии, предназначения товара, и других аспектов, оформляются два вида сертификатов соответствия на товары и услуги:
  ul
    li обязательный;
    li добровольный.
  p(style="text-align: justify;")  
    strong Обязательный сертификат 
    | на продукцию либо услуги, оформляется только на те товары, которые прописаны в Национальном перечне Едином, утвержденном Правительством Российской Федерации, продукции, подлежащей обязательному официальному подтверждению соответствия их характеристик всем утвержденным ранее требованиям и стандартам.
  h2 Схемы сертификации
  p(style="text-align: justify;") Оформление в Новосибирске обязательного сертификата по России на товары либо услуги может осуществляться по одной из законодательно утвержденных десяти схем проведения сертификации. Оно осуществляется в соответствии с действующим законодательством, на специальном бланке, как правило, желтого цвета.
  p(style="text-align: justify;") Добровольный подтверждающий документ данного вида оформляется на бланке цвета голубого, также специально утвержденном нормативно-законодательными документами в сфере сертификации.
  p(style="text-align: justify;") Если продукт не прописан в национальном едином перечне товаров и услуг, в обязательном порядке подлежащих подтверждению их соответствия, на него можно получить добровольный сертификат на продукцию либо услуги. Такой подтверждающий документ рекомендуется оформлять для того, чтобы подтвердить дополнительно высокое качество продукта, что позволяет увеличить конкурентоспособность компании-производителя, а также усилить доверие потребителей и партнеров по бизнесу.
  p(style="text-align: justify;") Наиболее полная и популярная в России система сертификации – это национальная система ГОСТ Р. В данной системе осуществляется оформление как добровольных, так и обязательных сертификатов подтверждающих соответствие продукции либо услуги.
  h2 Процедура сертификации
  p(style="text-align: justify;") Как правило, в сертификационном центре можно заказать оформление всех видов подтверждающих документов. Получение сертификатов на какие-либо продукты подразумевает прохождение стандартной процедуры сертификации, которая состоит из нескольких основных этапов:
  ul
    li прежде всего, необходимо подать заявку на проведение процедуры сертификации, а также пакет (копии, заверенные нотариально) документов на продукт;
    li далее специалистами сертификационного центра осуществляется идентификация продукта и определение процедуры сертификации;
    li затем проводятся определенные виды исследований и лабораторных испытаний на предмет соответствия (полного) продукции всем утвержденным ранее стандартам и требованиям;
    li по результатам исследований, описанных выше, принимается решение об оформлении и выдаче на руки заявителю документа на сертифицируемый продукт.
  h2 Что написано в сертификате?
  p(style="text-align: justify;")
    strong Сертификат соответствия 
    | на продукцию в России состоит, согласно действующему законодательству, из следующих пунктов:
  ul
    li номер (уникальный) данного подтверждающего документа;
    li срок действия (в случае, если в этой графе стоит прочерк, значит документ является бессрочным);
    li название центра сертификации, а также его полный адрес, номер телефона;
    li наименование продукции, указание договора (контракта) поставки;
    li перечень нормативно-законодательных документов, нормам и требованиям которых должен соответствовать сертифицируемый продукт;
    li полное название организации-изготовителя, с указанием ее полного юридического адреса;
    li указание организации, которая выступает получателем и держателем документа, подтверждающего соответствие;
    li основание;
    li дополнительные сведения;
    li код ОКП, ТН ВЭД.
  p(style="text-align: justify;") Официальное заверение сертификата соответствия в России осуществляется официальной печатью и подписью руководителя проводившего процедуру органа сертификации.
  +e.SECTION.share
    +e.share-inner  
      +b.A.share-link(href="#")
      +b.A.share-link(href="#")
      +b.A.share-link(href="#")
      +b.A.share-link(href="#")
      +b.A.share-link(href="#")

                


