include ../abstracts/mixins/_banner.pug
include ../abstracts/bemto/bemto.pug

// Partners
+b.SECTION.partners
  .container-fluid
    .row
      .col-xs-12.col-md-8.offset-md-2
        +e.H3.title Наши партнеры
        +e.banners
          +banner("http://www.100best.ru", "Best_100_Russia.png", "Сто лучших товаров России")
          +banner("http://government.ru", "Pravit_RF.gif", "Правительство Российской Федерации")
          +banner("http://gost.ru/wps/portal", "Rosstandart.gif", "Федеральное агентство по техническому регулированию и метрологии")
          +banner("http://zakon.scli.ru/ru/legal_texts/index.php", "Min_Yustic.png", "Министерство юстиции РФ")
          +banner("http://www.tsouz.ru/Pages/Default.aspx", "Tamozh_soyuz.png", "Комиссия Таможенного Союза")
          +banner("http://www.minpromtorg.gov.ru", "MinPromTorg_Rossii.png", "Минпромторг РФ")
          +banner("hhttp://www.gosnadzor.ru", "Rostehnadzor.png", "Федеральная служба по экологическому, технологическому и атомному надзору")
          +banner("http://rospotrebnadzor.ru/news", "rospotrebnadzor.png", "Федеральная служба по надзору в сфере защиты прав потребителей и благополучия человека")
          +banner("http://www.vniis.ru", "vniis.png", "Всероссийский научно-исследовательский институт сертификации")
          +banner("http://www.vniinmash.ru", "Vniinmash.png", "Всероссийский научно–исследовательский институт стандартизации и сертификации в машиностроении")
// Footer
+b.FOOTER.footer
  .container-fluid
    .row
      .col-xs-12.col-md-8.offset-md-2.flex-between
        +e.info       
          // Logo
          +b.A.logo(href="index.html") 
            img(src="img/logo_foot.png", alt="logo", title="logo")
          +e.copyright
            p Все права защищены.
            p Центр сертификации "Ростест Сибирь”  2011-2016
        +b.SECTION.counters
          span counter
          span counter
          span counter
  +b.A.up(href="#") ↑
+b.overlay



