include ../abstracts/mixins/_question-item.pug
include ../abstracts/bemto/bemto.pug

// Questions
+e.questions
  +questionItem("Сертификация строительных материалов","Людмила Безштанько", "(Амурская область, 30 августа 2016)", "<p>Необходимо сертифицировать или декларировать строительные материалы (песок, щебень, мин. порошок и т.д). Процедура? Сроки? Стоимость?</p>")
  +questionItem("СБКТС для автомобиля Toyota LC Prado 2009 г.","Анатолий", "(Омская область, 23 августа 2016)", "<p>Здравствуйте! Подскажите, пожалуйста, хочу купить в Казахстане а/м Toyota LC Prado 08-09 гг. выпуска, двигатель 5-LE 3 литра, дизель. Какие нужны документы на авто, какие сертификаты(СБКТС) нужны от сертификационного центра для получения ПТС на таможне, необходимо и возможно ли переоборудование топливной системы для данного двигателя под стандарты евро 5, какова стоимость всего процесса переоборудорвания + сертифицирования &quot;под ключ&quot; для 100-% получения ПТС на таможне. Заранее благодарен!</p>")
  +questionItem("Сертификация мебели","Дмитрий", "(Новосибирск и Новосибирская область, 19 августа 2016)", "<p>Здравствуйте!</p><p>Что потребуется оформлять для производства мебели по индивидуальным проектам?</p>")
  +b.SECTION.pagination
    span Страницы:
    +e.A.number--current(href="page-form-question.html") 1
    +e.A.number(href="page-form-question.html") 2
    +e.A.number(href="page-form-question.html") 3

