include ../abstracts/bemto/bemto.pug

+b.SECTION.recommendations
  +e.H3.title Рекомендуем прочесть:
  +e.UL.list  
    +e.item
      +e.A.link(href="page.html") Международные стандарты в России 
      | В России внедряются стандарты международного уровня, другими словами, проводится усовершенствование...
    +e.item
      +e.A.link(href="page.html") Изменения в перечне транспортных средств, которые подлежат обязательной сертификации  
      | В августе текущего года, в соответствии с Постановлением Правительства России...
    +e.item
      +e.A.link(href="page.html") Виктор Христенко уполномочен заниматься вплотную управлением Таможенного союза  
      | Премьер-министр Российской Федерации, Владимир Владимирович Путин, 16 сентября текущего год,...
    +e.item
      +e.A.link(href="page.html") Предприниматели нашли метод понизить налоги. Таможенный союз.   
      | Не далее, как 23 сентября текущего года, Александр Шохин, действующий...
    +e.item
      +e.A.link(href="page.html") Проводятся общественные обсуждения нового Техрегламента «О безопасности рыбы»  
      | На традиционные общественные обсуждения был вынесен проект нового Технического регламента,...

