include ../abstracts/mixins/_manager.pug
include ../abstracts/bemto/bemto.pug

// Right sidebar
+b.ASIDE.sidebar--right
  //Form application
  +e.form
    +e.H3.title--right Оставить заявку
    include form--application.pug
  +e.sidebar__btn
    +b.A.btn--call(href="#") Задать вопрос
      +e.icon
  // Managers
  +e.sidebar__managers
    +e.H3.sidebar__title--right Специалисты по сертификации
    +manager("Мария", "maria.jpg", "410-781-305", "maria75577")
    +manager("Ксения", "ksenia.jpg", "499-575-754", "kseni4ka_schastliva")
    +manager("Дарья", "daria.jpg", "626-707-730", "dariya-4186")
    +manager("Полина", "polina.jpg", "688-458-325", "eremeevapolina")
    +manager("Марьяна", "mariana.jpg", "647-809-603", "maria.terenteva1")
    +manager("Марина", "marina.jpg", "614-758-032", "baygulovamarina")
